
.qui-gallery-popup-image-buttons {
    background: rgba(18, 21, 29, 0.85);
    bottom: 0;
    color: #fff;
    left: 0;
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.qui-gallery-popup-buttons-prev,
.qui-gallery-popup-buttons-next,
.qui-gallery-popup-stats {
    cursor: pointer;
    float: left;
    line-height: 50px;
    text-align: center;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.qui-gallery-popup-buttons-prev:hover,
.qui-gallery-popup-buttons-next:hover {
    background: rgba(255, 255, 255, 0.25);
    color: rgba(18, 21, 29, 0.85);
}

.qui-gallery-popup-stats {
    cursor: default;
    font-size: 0.9rem;
}

.qui-gallery-popup-buttons-text {
    float: left;
    overflow: hidden;
    padding: 10px;
    width: calc(100% - 300px);
}

.qui-gallery-popup-image-preview {
    max-height: 100%;
    max-width: 100%;
    outline: none;
}

.qui-gallery-popup-image-preview-header {
    color: #fff;
    font-weight: bold;
    text-align: left;
}

.qui-gallery-popup-image-preview-text {
    color: #fff;
    text-align: left;
    font-size: 0.9rem;
}

.qui-gallery-popup-image-preview-text *:last-child {
    margin-bottom: 0;
}

.qui-gallery-popup-imagePrev {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    height: calc(100% - 50px);
    left: 0;
    position: absolute;
    top: 0;
    width: 15%;
}

.qui-gallery-popup-imageNext {
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    height: calc(100% - 50px);
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
}

.qui-gallery-popup-imagePrev span,
.qui-gallery-popup-imageNext span {
    color: #fff;
    display: none;
    font-size: 26px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.qui-gallery-popup-imageNext:hover,
.qui-gallery-popup-imagePrev:hover {
    background: rgba(0, 0, 0, 0.1);
}

.qui-gallery-popup-imagePrev:hover span,
.qui-gallery-popup-imageNext:hover span {
    display: inline;
}

.qui-gallery-popup-close {
    background: #fff;
    border-bottom-left-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -moz-border-radius-bottomleft: 40px;
    cursor: pointer;
    height: 40px;
    line-height: 25px !important;
    padding-right: 5px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 40px;
    z-index: 1;
}