.quiqqer-bricks-children-slider {
    position: relative;
    width: 100%;
}

.quiqqer-bricks-children-slider-container {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.quiqqer-bricks-children-slider-container-inner {
    float: left;
    /*height: calc(100% + 22px);*/
    left: 0;
    overflow-y: hidden;
    overflow-x: auto;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.quiqqer-bricks-children-slider-container-slide {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    white-space: nowrap;
}

.quiqqer-bricks-children-slider-child {
    display: inline-block;
    float: none;
    height: calc(100% - 2px);
}

.quiqqer-bricks-children-slider-child-display {
    border: 1px solid #dfe4e4;
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 0 10px;
    padding: 0;
    text-align: center;
}

.quiqqer-bricks-children-slider-moreLink-text {
    bottom: 0;
    left: 0;
    padding: 20px;
    position: absolute;
    width: 100%;
}

.quiqqer-bricks-children-slider-child-display:first-child {
    margin: 0 10px 0 0;
}

.quiqqer-bricks-children-slider-child a {
    display: block;
    position: relative;
}

.quiqqer-bricks-children-slider-child .quiqqer-icon {
    font-size: 80px;
    height: 100%;
    opacity: 0;
    padding: 0 1em;
}

.quiqqer-bricks-children-slider-child-display img {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    max-height: calc(100% - 2px);
    max-width: 400px;
}

/*
.quiqqer-bricks-children-slider-child-display img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
}
*/

.quiqqer-bricks-children-slider-prev,
.quiqqer-bricks-children-slider-next {
    color: #f1f1f1;
    cursor: pointer;
    font-size: 50px;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: visible;
    width: 50px;
}

.quiqqer-bricks-children-slider-next {
    right: -50px;
}

.quiqqer-bricks-children-slider-prev {
    left: -50px;
}

.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-next {
    background: #fff;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-prev {
    background: #fff;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 20px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-prev:hover,
.quiqqer-bricks-children-slider-mobile .quiqqer-bricks-children-slider-next:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

/*
.quiqqer-bricks-children-slider {
    height: auto !important;
}*/
