.quiqqer-gallery-logoSlider {
    position: relative;
    width: 100%;
}

.quiqqer-gallery-logoSlider-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 767px) {
    .quiqqer-gallery-logoSlider {
        --qui--logoSlider-height: var(--qui--logoSlider-mobileHeight) !important;
    }
}

.quiqqer-gallery-logoSlider.quiqqer-gallery-logoSlider-mobile .quiqqer-gallery-logoSlider-wrapper{
    padding-left: 0;
    padding-right: 0;
}

.quiqqer-gallery-logoSlider-container {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;


}

.quiqqer-gallery-logoSlider-container-inner {
    float: left;
    /*height: calc(100% + 22px);*/
    left: 0;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.quiqqer-gallery-logoSlider-container-slide {
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.quiqqer-gallery-logoSlider-child {
    display: inline-block;
    float: none;
    /*height: calc(100% - 2px);*/
    height: 100%;
    margin: 0;
    min-width: 20%;
    padding: 0;
    transition: 0.3s ease;
    width: 20%;
}

@media screen and (max-width: 767px) {
    .quiqqer-gallery-logoSlider-container {
        padding-left: 0;
        padding-right: 0;
    }

    .quiqqer-gallery-logoSlider-child {
        min-width: 25%;
        width: 25%;
    }
}

@media screen and (max-width: 500px) {
    .quiqqer-gallery-logoSlider-child {
        min-width: 33.3333%;
        width: 33.3333%;
    }
}

.quiqqer-gallery-logoSlider-child:not(:hover) {
    filter: grayscale(1) opacity(0.5);
}

.quiqqer-gallery-logoSlider-child-display {
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 1rem clamp(1rem, 10%, 2rem);
    text-align: center;
    width: 100%;
}

.quiqqer-gallery-logoSlider-moreLink-text {

}

.quiqqer-gallery-logoSlider-child a {
    color: inherit;
    display: block;
    height: 100%;
    position: relative;
}

.quiqqer-gallery-logoSlider-child .quiqqer-icon {
    font-size: 80px;
    height: 100%;
    opacity: 0;
    padding: 0 1em;
}

.quiqqer-gallery-logoSlider-child-display img {
    height: 100%;
    object-fit: contain;
}

/*************/
/* more link */
/*************/
.quiqqer-gallery-logoSlider-child__moreLink a {
    align-items: center;
    display: flex;
    justify-content: center;
}

/***********************/
/* next / prev buttons */
/***********************/
.quiqqer-gallery-logoSlider-prev,
.quiqqer-gallery-logoSlider-next {
    cursor: pointer;
    font-size: 50px;
    height: 100%;
    line-height: var(--qui--logoSlider-height, 200px);
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    visibility: visible;
    width: 50px;
    opacity: 0.25;


    z-index: 2;
}

.quiqqer-gallery-logoSlider-prev.disabled,
.quiqqer-gallery-logoSlider-next.disabled {
    cursor: default;
}

.quiqqer-gallery-logoSlider-wrapper:hover :where(.quiqqer-gallery-logoSlider-prev:not(.disabled), .quiqqer-gallery-logoSlider-next:not(.disabled)) {
    opacity: 0.5;
}

.quiqqer-gallery-logoSlider-next {
    right: 0;
}

.quiqqer-gallery-logoSlider-next.show-next {
    right: 0;
}

.quiqqer-gallery-logoSlider-prev {
    left: 0;
}

/* effect on hover the slider-button self */
.quiqqer-gallery-logoSlider-prev:not(.disabled):hover,
.quiqqer-gallery-logoSlider-next:not(.disabled):hover {
    opacity: 1;
}

.quiqqer-gallery-logoSlider-mobile .quiqqer-gallery-logoSlider-next,
.quiqqer-gallery-logoSlider-mobile .quiqqer-gallery-logoSlider-prev {
    background: #fff;
    border: 1px solid #f1f1f1;
    opacity: 0.5;
}

.quiqqer-gallery-logoSlider-mobile .quiqqer-gallery-logoSlider-next:not(.disabled):hover,
.quiqqer-gallery-logoSlider-mobile .quiqqer-gallery-logoSlider-prev:not(.disabled):hover {
    opacity: 1;
}
